'context-menu':
  '.overlayer':
    'Launch Meteor': 'meteor-helper:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Meteor'
      'submenu': [
        # { 'label': 'Toggle', 'command': 'meteor-helper:toggle' }
        { 'label': 'Reset', 'command': 'meteor-helper:reset' }
      ]
    ]
  }
]
