@import "ui-variables";

.meteor-helper {
  -webkit-flex: 0.25;
  overflow: scroll;
  .panel-heading {
    width: 100%;
  }
  .panel-body {
    margin-top: 30px;
    div {
      margin: 5px;
    }
  }
}
